<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><%= link_to "home", root_path %></li>
								<li><%= link_to "test", pages_test_path %></li>
								<li><%= link_to "login", users_login_path %></li>
								</li><%= link_to "about us", pages_about_us_path %></li>
						
							</ul>
						</nav>

				</div>
