<!-- Header -->
<div id="header">

	<!-- Inner -->
		<div class="inner">
			<header>
				<h1><a href="index.html" id="logo">Helios</a></h1>
			</header>
		</div>

		<%= render 'shared/navbar' %>

		<!-- Main -->
			<div class="wrapper style1">

					<p> laksakdnflñasndflsndfjaksdfnsajnfjsafnjasdnfjj</p>

			</div>

		<%= render 'shared/footer' %>

		
